@import '../../../../../assets/typography.scss';

:host {
  display: flex;
  justify-content: center;

  .photos-container {
    display: flex;
    flex-direction: column;
  }

  .loader {
    align-self: center;
    margin: 2rem 0;
    height: 12.5rem;
    width: 12.5rem;
  }
}
